/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-new-3-2 .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
}
.theme-new-3 .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-new-3 .nivoSlider a {
	border:0;
	display:block;
}

.theme-new-3 .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
	display: none;
}
.theme-new-3 .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-new-3 .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-new-3 .nivo-directionNav a {
	display:block;
	width:33px;
	height:33px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

.theme-new-3 a.nivo-nextNav {
	background-position:-40px 0;
	left: 32px;
	top: 433px;
}
.theme-new-3 a.nivo-prevNav {
	left: 0;
	top: 433px;
}
.theme-new-3 a.nivo-nextNav:hover,
.theme-new-3 a.nivo-prevNav:hover {
	opacity: 0.65; filter: alpha(opacity=65);
}

.theme-new-3 .nivo-caption {
	background-color: #373737;
	opacity:1;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0px;
	padding: 35px;
	color: #a7a7a7;
	border-top: 10px solid #f26c4f;
}

.theme-new-3 .nivo-caption:hover .panel i {color: #f26c4f;}

.theme-new-3 .nivo-caption .triangle-down  {
	position: absolute;
	left: 30px;
	top: 0;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #f26c4f;
}

.theme-new-3 .nivo-caption h1,
.theme-new-3 .nivo-caption h2,
.theme-new-3 .nivo-caption h3 {
	color: #ffffff;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}

.theme-new-3 .nivo-caption .panel {width: 150px; float: right;}

.theme-new-3 .nivo-caption .panel time {
	float: right;
}
.theme-new-3 .nivo-caption .panel i {
	font-size: 20px;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.theme-new-3 .nivo-caption p {
	padding: 0;
	margin-bottom: 20px;
}

.theme-new-3 .nivo-caption a {
    color:#fff;
}
.theme-new-3 .nivo-caption a:hover {
    opacity: 0.65; filter: alpha(opacity=65);
}

.theme-new-3 .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-new-3 .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-new-3 .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}