/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-new .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
}
.theme-new .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-new .nivoSlider a {
	border:0;
	display:block;
}

.theme-new .nivo-controlNav {
	padding: 0;
	display: block;
	height: 112px;
	float: right;
}
.theme-new .nivo-controlNav a:first-child {margin-left: 0;}
.theme-new .nivo-controlNav a:last-child {margin-right: 0;}
.theme-new .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 4px;
}
.theme-new .nivo-controlNav a.active {
	opacity: 0.65; filter: alpha(opacity=65);
}

.theme-new .nivo-directionNav a {
	display:block;
	width:33px;
	height:33px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

.theme-new a.nivo-nextNav {
	background-position:-40px 0;
	right: 0;
	top: 433px;
}
.theme-new a.nivo-prevNav {
	left:1115px;
	top: 433px;
}
.theme-new a.nivo-nextNav:hover,
.theme-new a.nivo-prevNav:hover {
	opacity: 0.65; filter: alpha(opacity=65);
}

.theme-new .nivo-caption {
	background-color: #373737;
	opacity:1;
	width: 300px;
	height: 100%;
	position: absolute;
	left: 900px;
	padding: 35px;
	color: #a7a7a7;
	border-left: 10px solid #f26c4f;
}

.theme-new .nivo-caption:hover .panel i {color: #f26c4f;}

.theme-new .nivo-caption .triangle-down  {
position: absolute;
left: 0;
top: 35px;
width: 0;
height: 0;
border-top: 12px solid transparent;
border-bottom: 12px solid transparent;
border-left: 12px solid #f26c4f;
}

.theme-new .nivo-caption h1,
.theme-new .nivo-caption h2,
.theme-new .nivo-caption h3 {
	color: #ffffff;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}

.theme-new .nivo-caption .panel time {
	float: right;
}
.theme-new .nivo-caption .panel i {
	font-size: 20px;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.theme-new .nivo-caption p {
	padding: 0;
	margin-bottom: 20px;
}

.theme-new .nivo-caption a {
    color:#fff;
}
.theme-new .nivo-caption a:hover {
    opacity: 0.65; filter: alpha(opacity=65);
}

.theme-new .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-new .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-new .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 190px;
	height: auto;
}