{if $goodtpl_aUsersTop and count($goodtpl_aUsersTop)}
					{foreach from=$goodtpl_aUsersTop item=oUser}	
					<li> 
                            <a href="{$oUser->getUserWebPath()}">
                              <img src="{$oUser->getProfileAvatarPath(385)}" class="full-with" alt="" />
                            </a>
                      
                      <div class="txt people">
                          <a href="{$oUser->getUserWebPath()}"><h2>{$oUser->getLogin()}</h2></a>
                          <p>
                          	{if $oUser->getProfileName()}
                                {$oUser->getProfileName()|escape:'html'}
                            {else}
                                {$aLang.text_no_data}
                            {/if}
                          </p>
                      </div>
                    </li>
                    {/foreach}
{/if}
                  
                        
