/* ==================================================
						Главное
================================================== */

/* Документ
================================================== */
	body {
		background-color: #ebebeb;
		font: 13px/24px "Open Sans", Arial, sans-serif;
		color: #949494;
 }

/* Типографика
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #474747;
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 24px; line-height: 27px; margin-bottom: 5px;}
	h2 { font-size: 24px; line-height: 27px; margin-bottom: 5px; }
	h3 { font-size: 24px; line-height: 27px; margin-bottom: 5px; }
	h4 { font-size: 17px; line-height: 20px; margin-bottom: 5px; }
	h5 { font-size: 17px; line-height: 20px; margin-bottom: 5px; }
	h6 { font-size: 17px; line-height: 20px; margin-bottom: 5px; }

	p { margin: 0 0 40px 0; }
	p img { margin: 0; }
	p a, p a:visited { line-height: inherit; }

	em { font-style: italic; }
	strong, b { font-family: 'Open Sans Bold'; }
	small { font-size: 90%; }

/*	Цитаты  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #000; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 3px solid #ddd; }
	/*	Сноска, ссылка  */
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* ==================================================
   Code и Pre
================================================== */

code, pre { padding: 0 3px 2px; color: #232527; font-size: 12px; font-family: Monaco, Menlo, Consolas, "Courier New", monospace;}
code { padding: 2px 4px; border: 1px solid #dde4e9; background-color: #F6F6F6; color: #232527; white-space: nowrap;}
pre { display: block; margin: 70px 50px; padding: 30px; border: 1px solid #dde4e9; background-color: #FCFCFC; white-space: pre; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; font-size: 12px; line-height: 20px; }
pre code { padding: 0; border: 0; background-color: transparent; color: inherit; white-space: pre; white-space: pre-wrap; }

.pre-scrollable { overflow-y: scroll; max-height: 340px; }

/* Ссылки
================================================== */
	a { color: #f26c4f; outline: 0; text-decoration: none; }
	a:visited,
	a:focus {text-decoration: none;}
	a:hover { color: #f26c4f; text-decoration: underline; }

/* Списки
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.icon-list li { float: left; margin-left: 20px; }

/* Картинки
================================================== */

	img.full-with {
		max-width: 100%;
		height: auto; }
	/* закруглкнные углы */
	img.img-rounded {
  		-webkit-border-radius: 6px;
     	-moz-border-radius: 6px;
        border-radius: 6px;
	}
	/* рамкой */
	img.img-polaroid {
  		padding: 4px;
  		background-color: #fff;
  		border: 1px solid #ccc;
  		border: 1px solid rgba(0, 0, 0, 0.2);
  		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
	/* круглое */
	img.img-circle {
  		-webkit-border-radius: 500px;
     	-moz-border-radius: 500px;
        border-radius: 500px;
	}

/* ==================================================
						Сайт
================================================== */

.user i {margin-right: 2px;}

/* Шапка
================================================== */
header {height: 67px;}
.logo {position: relative;}
.logo a {display: block; color: #ffffff}
.logo a:hover {text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}
.logo .img-logo {background-color: #f26c4f; height: 67px; width: 80px; font-size: 29px; font-weight: bold; float: left; }
.logo .img-logo i {position: relative; top: 20px; left: 30px;}
.logo .triangle-down {position: absolute; left: 80px; top: 20px; width: 0; height: 0; border-top: 12px solid transparent; border-bottom: 12px solid transparent; border-left: 12px solid #f26c4f;}
.logo .text {font-size: 17px; padding: 20px 0 20px 100px;}
.top-nav {padding: 19px 0 11px 0; position: relative;}

/* Меню
================================================== */

.main-menu {background-color: #474747;}

/* Главное меню */
nav.menu {background-color: #474747; height: 70px;}
nav.menu ul {height: 100%;}
nav.menu li {float: left; padding: 0 20px; background: url(../images/nav_line.png) no-repeat 0 30px;}
nav.menu li.start {padding-left: 0; background: none;}
nav.menu li.icon i {color: #f26c4f; font-size: 20px; position: relative; top: 25px; left: 15px; width: 40px;}
nav.menu a {color: #ffffff; font-size: 12px; display: block; height: 100%; padding: 26px 0px 22px 0px;}
nav.menu a:hover,
nav.menu a:active,
nav.menu a.active {border-bottom: 4px solid #f26c4f; text-decoration: none;}
nav.menu .m-menu {display: none;} /* Прячем кнопку меню */

.sub-menu {margin: 25px 0 0 0; position: absolute; right: 0;}
.sub-menu li {float: left; padding: 0 18px; margin: 0;}
.sub-menu li.bg {background: url(../images/sub-menu-line.png) no-repeat left;}

/* Drop down menu top
================================================== */
.dropdown-container {position: relative;}
.bt-dropdown { text-shadow: 0 1px #383838; color: #ffffff; display:block; position:relative; cursor:pointer; top: -5px; padding: 5px 19px 5px 0 !important; }
.bt-dropdown .txt { display:block; padding-right: 10px; }
.bt-dropdown .ar { position:absolute; right: 10px; top: 4px; font-size: 10px; }

.bt-dropdown:hover,
.bt-dropdown:active, 
.bt-dropdown.active { color: #ffffff; text-decoration: none; }
.bt-dropdown:hover .txt, .bt-dropdown:active .txt, .bt-dropdown.active .txt {}

.dropdown { position:absolute; top:35px; right: -8px; display:none; z-index:200; background-color: #373737; }

.dropdown ul { width: 200px; margin: 0 !important; text-transform: none; }
.dropdown ul li { background-color: #474747; padding: 0; display:block; zoom:1; float: none; margin: 5px !important; text-align: center; }
.dropdown ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; color: #ffffff; }
.dropdown ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown ul li:hover a { background-color: #3F3F3F; border: none; text-decoration: none; }
.dropdown ul li:hover a div { display:block; }
.dropdown ul li.active a {background-color: #3F3F3F;}

.dropdown .dropdown-line {background: url(../images/arrow_dropdown.png) no-repeat; height: 6px; width: 12px; position: absolute; top: -6px; right: 40px; }

/* dropdown-2 */
.bt-dropdown-2 { text-shadow: 0 1px #383838; color: #d5d5d5; display:block; position:relative; cursor:pointer; top: -5px; padding: 5px 10px 5px 0px !important; }
.bt-dropdown-2 .txt { display:block; padding-right: 10px; }
.bt-dropdown-2 .ar { position:absolute; right: 0; top: 4px; font-size: 10px; color: #f26c4f; font-size: 18px; }

.bt-dropdown-2:hover,
.bt-dropdown-2:active, 
.bt-dropdown-2.active { color: #ffffff; text-decoration: none; }
.bt-dropdown-2:hover .txt, .bt-dropdown-2:active .txt, .bt-dropdown-2.active .txt {}

.dropdown-2 { position:absolute; top:35px; left: -110px; display:none; z-index:200; background-color: #373737; }

.dropdown-2 ul { width: 200px; margin: 0 !important; text-transform: none; }
.dropdown-2 ul li { background-color: #474747; padding: 0; display:block; zoom:1; float: none; margin: 5px !important; text-align: center; }
.dropdown-2 ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; color: #ffffff; }
.dropdown-2 ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown-2 ul li:hover a { background-color: #3F3F3F; border: none; text-decoration: none; }
.dropdown-2 ul li:hover a div { display:block; }
.dropdown-2 ul li.active a {background-color: #3F3F3F;}

.dropdown-2 .dropdown-line {background: url(../images/arrow_dropdown.png) no-repeat; height: 6px; width: 12px; position: absolute; top: -6px; right: 13px; }

/* dropdown-3 */
.dropdown-container-3 {position: absolute; right: 200px; width: 180px;}
.bt-dropdown-3 { border: 1px solid #2c2c2c; box-shadow: 0 1px 2px -1px #000; border-top: none; color: #9c9c9c; background-color: #ffffff; display:block; position:relative; cursor:pointer; top: -5px; padding: 6px 19px 6px 23px !important; }
.bt-dropdown-3 .txt { display:block; padding: 0 15px; }
.bt-dropdown-3 .ar { position:absolute; right: 0px; top: 0px; font-size: 10px; color: #9c9c9c; background-color: #ebebeb; border-left: 1px solid #d8d8d8; padding: 6px 12px; }
.bt-dropdown-3 .icon {position: absolute; top: 6px; left: 15px; color: #f26c4f; font-size: 20px;}

.bt-dropdown-3:hover,
.bt-dropdown-3:active, 
.bt-dropdown-3.active { color: #9c9c9c; text-decoration: none; }
.bt-dropdown-3:hover .txt, .bt-dropdown-3:active .txt, .bt-dropdown-3.active .txt {}

.dropdown-3 { position:absolute; top:31px; box-shadow: 0 2px 3px -2px #000; display:none; z-index:200; background-color: #ffffff; border: 1px solid #373737; border-top: none; }

.dropdown-3 ul { width: 178px; margin: 0 !important; text-transform: none; }
.dropdown-3 ul li { display:block; zoom:1; float: none; padding: 0 32px; margin: 5px !important; }
.dropdown-3 ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; color: #9c9c9c; }
.dropdown-3 ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown-3 ul li:hover a { text-decoration: none; opacity: 0.65; filter: alpha(opacity=65); }
.dropdown-3 ul li:hover a div { display:block; }
.dropdown-3 ul li.active i {position: absolute; left: -21px; font-size: 20px; color: #f26c4f;}

/* dropdown-4 */
.dropdown-container-4 {position: relative; width: 180px;}
.bt-dropdown-4 { border: 1px solid #2c2c2c; box-shadow: 0 1px 2px -1px #000; border-top: none; color: #9c9c9c; background-color: #ffffff; display:block; position:relative; cursor:pointer; top: -5px; padding: 6px 19px 6px 23px !important; }
.bt-dropdown-4 .txt { display:block; padding: 0 20px; }
.bt-dropdown-4 .ar { position:absolute; right: 0px; top: 0px; font-size: 10px; color: #9c9c9c; background-color: #ebebeb; border-left: 1px solid #d8d8d8; padding: 6px 12px; }
.bt-dropdown-4 .icon {position: absolute; top: 6px; left: 15px; color: #f26c4f; font-size: 20px;}

.bt-dropdown-4:hover,
.bt-dropdown-4:active,
.bt-dropdown-4:focus, 
.bt-dropdown-4.active { color: #9c9c9c; text-decoration: none; }
.bt-dropdown-4:hover .txt, .bt-dropdown-4:active .txt, .bt-dropdown-4.active .txt {}

.dropdown-4 { position:absolute; top:31px; box-shadow: 0 2px 3px -2px #000; display:none; z-index:200; background-color: #ffffff; border: 1px solid #373737; border-top: none; }

.dropdown-4 ul { width: 178px; margin: 0 !important; text-transform: none; }
.dropdown-4 ul li { display:block; zoom:1; float: none; padding: 0 32px; margin: 5px !important; }
.dropdown-4 ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; color: #9c9c9c; }
.dropdown-4 ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown-4 ul li:hover a { text-decoration: none; opacity: 0.65; filter: alpha(opacity=65); }
.dropdown-4 ul li:hover a div { display:block; }
.dropdown-4 ul li.active i {position: absolute; left: -21px; font-size: 20px; color: #f26c4f;}


/* Блок с поиском */
.search {padding: 15px 0;}
.search .social {margin: 17px 0 0 0;}
.search .social li {float: left; margin: 0 15px;}
.search .social li a {color: #8f8f8f; text-shadow: 0 1px #ffffff;}
.search .social li a i {margin-right: 5px;}
.search .social li a:hover {text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}

/* Слайдер */
.slider-wrapper { width: 100%; margin: 0 auto; }

.slider-2.width-12 {margin-right: 0; width: 1185px;}

.slider-2 .list_carousel { width: 360px;  margin-bottom: 20px; position: relative;}
.slider-2 .list_carousel ul { position: absolute; z-index: 2; margin: 0; padding: 0; display: block; }
.slider-2 .list_carousel li { position: relative; padding: 0; margin: 0 0 0 10px; display: block; float: left; }
.slider-2 .list_carousel.responsive { width: auto; margin-left: 0; margin-top: 10px; }
.slider-2 .slider-nav { position: absolute; top: 0; width: 100%;}
.slider-2 .slider-nav .prev,
.slider-2 .slider-nav .next { display: block; width: 22px; height: 400px; position: relative; background: url(../images/arrow_slider2.png) no-repeat; }
.slider-2 .slider-nav .prev:hover,
.slider-2 .slider-nav .next:hover {opacity: 0.65; filter: alpha(opacity=65);}
.slider-2 .slider-nav .prev { float: left; margin-left: 10px; left: -50px; background-position: 0 100px; }
.slider-2 .slider-nav .next { float: right; margin-right: 10px; right: -50px; background-position: -33px 100px;}
.slider-2 .list_carousel li .txt.people {position: absolute; width: 335px; top: 263px; border-top: 6px solid #ebebeb;}
.slider-2 .list_carousel li .txt { background-color: #ffffff; color: #646464; border-bottom: 1px solid #d3d3d3; padding: 25px; }
.slider-2 .list_carousel li .txt h1,
.slider-2 .list_carousel li .txt h2,
.slider-2 .list_carousel li .txt h3,
.slider-2 .list_carousel li .txt h4,
.slider-2 .list_carousel li .txt h5 {color: #4f4f4f; font-size: 24px; line-height: 28px; margin-bottom: 20px; font-family: 'Open Sans Bold';}
.slider-2 .list_carousel li .txt a:hover {text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}
.slider-2 .list_carousel li .go,
.slider-2 .list_carousel li .go-hover {display:block; text-indent:-9999px; width: 79px; height: 79px; position: absolute; top: 0; right: 0;}
.slider-2 .list_carousel li .go {background: url(../images/go_topic.png) no-repeat;}
.slider-2 .list_carousel li .go-hover {background: url(../images/go_topic_hover.png) no-repeat; opacity: 0; filter: alpha(opacity=0);
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;}
.slider-2 .list_carousel li:hover .go-hover {opacity: 1; filter: alpha(opacity=100);}

/* Костыль, отступ из-за слайдера для блока с контентом на главной */
.content-margin {margin-top: 415px;}
 
/* Контент
================================================== */
.content {position: relative;}
.content p {margin-bottom: 20px;}

/* Топики
================================================== */

.topic {margin-bottom: 15px; position: relative;}
.topic header {height: auto;}
.topic a:hover.title {text-decoration: none;}

.topic .topic-type {display: none; font-size: 24px; position: absolute; left: -50px; top: 43%;}
.topic:hover .topic-type {display: block; color: #A1A1A1;}

.topic .cut {display: block; margin-top: 10px; font-family: 'Open Sans Bold';}
.topic .cut i {margin-left: 5px;}

.topic .txt img {max-width: 100%; height: auto;}

/* topic theme1 */
.topic.theme1 {background-color: #ffffff; border-left: 4px solid #f26c4f; padding: 35px 35px 40px 35px; position: relative;}

.topic.theme1 .panel {margin-bottom: 10px;}
.topic.theme1 .panel li {float: left; color: #a1a1a1; font-style: italic; font-size: 10px; padding: 5px 30px; border-left: 1px solid #dfdfdf;}
.topic.theme1 .panel li.first {padding-left: 0; border: none;}
.topic.theme1 .panel li a {color: #a1a1a1;}
.topic.theme1 .panel li ul.star {float: left; margin: 0 12px 0 0;}
.topic.theme1 .panel li ul.star li {border: none; padding: 0 3px 0 0; font-size: 16px; margin: 0;}
.topic.theme1 .panel li ul.star li a.active {color: #f26c4f;}
.topic.theme1 .panel li a.like {margin-left: 10px;}
.topic.theme1 h1,
.topic.theme1 h2,
.topic.theme1 h3,
.topic.theme1 h4,
.topic.theme1 h5 {font-size: 24px; line-height: 27px; margin-bottom: 5px;}

.topic.theme1:hover {background-color: #f26c4f; border-left: 4px solid #ce4e32; color: #ffffff;}
.topic.theme1:hover .panel li a,
.topic.theme1:hover .panel li {color: #ffffff}
.topic.theme1:hover .panel li ul.star a:hover,
.topic.theme1:hover .panel li ul.star a.active {color: #ce4e32;}
.topic.theme1:hover h1,
.topic.theme1:hover h2,
.topic.theme1:hover h3,
.topic.theme1:hover h4,
.topic.theme1:hover h5 {color: #ffffff;}
.topic.theme1:hover .cut {color: #ffffff; font-weight: normal;}
.topic.theme1:hover footer a,
.topic.theme1:hover footer a.category,
.topic.theme1:hover footer a:hover,
.topic.theme1:hover footer {color: #ffffff;}
.topic.theme1:hover footer a.category:hover {opacity: 1; filter: alpha(opacity=100); text-decoration: underline;}

.topic.theme1 .text {clear: both;}
.topic.theme1 .text .topic-avatar {position: relative; left: -35px; width: 776px;}

.topic.theme1 footer {border-top: 1px solid #dedede; color: #bababa; padding: 15px 0 0 0; position: relative; margin-top: 20px; }
.topic.theme1 footer li {float: left; margin-bottom: 0; margin-right: 5px;}
.topic.theme1 footer li i {margin-left: 10px;}
.topic.theme1 footer a.category {color: #bababa; margin-right: 40px;}
.topic.theme1 footer a.category:hover {text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}

/* topic theme2 */
.topic.theme2 { background-color: #ffffff; position: relative; margin-top: 70px;}
.topic.theme2 header {border-bottom: 1px solid #dedede; background-color: #ffffff; color: #bababa; padding: 15px 28px; position: absolute; top: -55px; width: 725px;}
.topic.theme2 header ul {margin: 0;}
.topic.theme2 header li {float: left; margin-bottom: 0; margin-right: 5px;}
.topic.theme2 header li i {margin-left: 10px;}
.topic.theme2 header a.category {color: #bababa; margin-right: 40px;}
.topic.theme2 header a.category:hover {text-decoration: none; opacity: 0.65 !important; filter: alpha(opacity=65);}
.topic.theme2 .line {border-bottom: 1px solid #e6e6e6}
.topic.theme2 .text .share {position: absolute; top: 0; left: 0; display: block; color: #ffffff; background-color: #cacaca; padding: 5px 10px;}
.topic.theme2 .text .share:hover {background-color: #f26c4f;}
.topic.theme2 .text {padding: 35px 50px 0 50px;}
.topic.theme2 .text h1,
.topic.theme2 .text h2,
.topic.theme2 .text h3,
.topic.theme2 .text h4,
.topic.theme2 .text h5 {font-size: 27px; color: #707070;}


.topic.theme2 .text {padding: 25px 50px 40px 50px; border-bottom: 1px solid #dedede;}

.topic.theme2 footer {background-color: #efefef; border-bottom: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6;}
.topic.theme2 footer .line {border-bottom: 1px solid #dedede;}
.topic.theme2 footer ul {padding: 15px 25px;}
.topic.theme2 footer li {float: left;}
.topic.theme2 footer li.vote {float: right;}
.topic.theme2 footer li.vote span {margin-right: 7px;}
.topic.theme2 footer li.vote a:hover {color: #afafaf;}
.topic.theme2 footer li.author {margin-left: 10px;}
.topic.theme2 footer li.author a {color: #949494;}

/* topic theme3 */
.topic.theme3 { background-color: #ffffff; position: relative;}
.topic.theme3 header .share {position: absolute; top: 0; left: 0; display: block; color: #ffffff; background-color: #363339; padding: 5px 10px;}
.topic.theme3 header .share:hover {background-color: #f26c4f; text-decoration: none;}

.topic.theme3 .text h1,
.topic.theme3 .text h2,
.topic.theme3 .text h3,
.topic.theme3 .text h4,
.topic.theme3 .text h5 {font-size: 27px; color: #707070;}
.topic.theme3 .text {padding: 25px 50px 40px 50px; border-bottom: 1px solid #dedede;}

.topic.theme3 footer {background-color: #efefef; border-bottom: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6;}
.topic.theme3 footer .line {border-bottom: 1px solid #dedede;}
.topic.theme3 footer ul {padding: 15px 25px;}
.topic.theme3 footer li {float: left;}
.topic.theme3 footer li.vote {float: right;}
.topic.theme3 footer li.vote span {margin-right: 7px;}
.topic.theme3 footer li.vote a:hover {color: #afafaf;}

/* topic theme4 */
.topic.theme4 { width: 380px;  margin-bottom: 10px; margin-right: 10px; float: left; }
.topic.theme4 .txt { background-color: #ffffff; color: #646464; border-bottom: 1px solid #d3d3d3; padding: 25px; }
.topic.theme4 .txt h1,
.topic.theme4 .txt h2,
.topic.theme4 .txt h3,
.topic.theme4 .txt h4,
.topic.theme4 .txt h5 {color: #4f4f4f; font-size: 24px; font-weight: bold; line-height: 28px; margin-bottom: 20px;}
.topic.theme4 .txt a:hover {text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}
.topic.theme4 .go,
.topic.theme4 .go-hover {display:block; text-indent:-9999px; width: 79px; height: 79px; position: absolute; top: 0; right: 0;}
.topic.theme4 .go {background: url(../images/go_topic.png) no-repeat;}
.topic.theme4 .go-hover {background: url(../images/go_topic_hover.png) no-repeat; opacity: 0; filter: alpha(opacity=0);
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;}
.topic.theme4:hover .go-hover {opacity: 1; filter: alpha(opacity=100);}


/* topic theme5 */
.topic.theme5 { width: 770px; margin-bottom: 10px; margin-right: 10px; position: relative; float: left; }
.topic.theme5 .txt { background-color: #ffffff; color: #646464; border-bottom: 1px solid #d3d3d3; padding: 25px; }
.topic.theme5 .txt h1,
.topic.theme5 .txt h2,
.topic.theme5 .txt h3,
.topic.theme5 .txt h4,
.topic.theme5 .txt h5 {color: #4f4f4f; font-size: 24px; font-weight: bold; line-height: 28px; margin-bottom: 20px;}
.topic.theme5 .txt p {margin: 0;}
.topic.theme5 .txt a:hover {text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}
.topic.theme5 .go,
.topic.theme5 .go-hover {display:block; text-indent:-9999px; width: 79px; height: 79px; position: absolute; top: 0; right: 0;}
.topic.theme5 .go {background: url(../images/go_topic.png) no-repeat;}
.topic.theme5 .go-hover {background: url(../images/go_topic_hover.png) no-repeat; opacity: 0; filter: alpha(opacity=0);
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;}
.topic.theme5:hover .go-hover {opacity: 1; filter: alpha(opacity=100);}

/* Actions */
.actions {padding: 0 0 0 40px; overflow: hidden;}
.actions li i {margin-left: 5px;}

/* Content */
.topic-content.topic.theme2 {margin-top: 55px;}
.topic-content.topic .topic-share {position: relative; left: -7px; margin-top: 10px;}

.topic-content.topic .topic-url {border-top: 1px solid #dedede; margin-top: 10px; padding-top: 5px;}

.topic .text img {max-width: 100%; height: auto;}

/* Poll */
.topic .poll { margin: 15px 0;}

.topic .poll .poll-vote { margin-bottom: 20px; margin-left: 0; list-style-type: none;	}
.topic .poll .poll-vote li { margin-bottom: 10px; }
.topic .poll .poll-vote li:last-child { margin-bottom: 0; }
.topic .poll .poll-vote li label { display: inline; }
.topic .poll .poll-vote li input { position: relative; top: 1px; margin-right: 2px; }

.topic .poll .poll-result { margin-bottom: 10px; margin-left: 0; list-style-type: none; padding: 15px 15px 0; background: #fff; border: 1px solid #eee; }
.topic .poll .poll-result li { margin-bottom: 20px; }
.topic .poll .poll-result li dl { overflow: hidden; zoom: 1; }
.topic .poll .poll-result li dl dt { float: left; width: 50px; text-align: right; padding-right: 15px; }
.topic .poll .poll-result li dl dt span { color: #aaa; }
.topic .poll .poll-result li dl dd { float: left; width: 400px; }
.topic .poll .poll-result li dl dd div { height: 10px; margin-top: 5px; background: #ccc; overflow: hidden; border-radius: 2px; }
.topic .poll .poll-result li.most dl dd div { background: #f26c4f; }

.topic .poll .poll-total { color: #aaa; margin-left: 10px; }
.topic .poll .button.button-icon.active { background: #43bb34; }

/* Topic Photo */
.topic .topic-photo-preview { position: relative; margin: 15px 0; cursor: pointer; }
.topic .topic-photo-preview img { vertical-align: top; }
.topic .topic-photo-preview .topic-photo-count { display: none; cursor: pointer; position: absolute; top: 5; right: 0; background: #000; color: #f26c4f; padding: 4px 7px; background: rgba(0,0,0,.6); }
.topic .topic-photo-preview .topic-photo-desc { display: none; width: 96%; padding: 7px 2%; position: absolute; bottom: 0; left: 0; background: #000; color: #6bd24b; color: #fff; line-height: 16px; background: rgba(0,0,0,.7); }

.topic .topic-photo-images { padding-top: 10px; margin-bottom: 15px; }
.topic .topic-photo-images h3 { border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 15px; }
.topic .topic-photo-images ul { overflow: hidden; zoom: 1; }
.topic .topic-photo-images ul li { float: left; margin: 0 9px 9px 0; position: relative; }
.topic .topic-photo-images ul li .image-number { display: none; position: absolute; top: 5px; right: 5px; background: #000; color: #6bd24b; padding: 1px 6px; font-size: 11px; background: rgba(0,0,0,.6); }
.topic .topic-photo-images ul li:hover .image-number { display: block; }
.topic .topic-photo-images ul li img { vertical-align: top; }
.topic .topic-photo-images .topic-photo-more { display: block; border-top: 1px solid #dbe6f0; text-align: center; padding: 10px 0; margin-bottom: 15px; text-decoration: none; background: #f3f7fa; color: #7b90a5; }
.topic .topic-photo-images .topic-photo-more:hover { background: #eaf2f8; }

.topic-photo-upload { background: #fafafa; padding: 15px 15px 15px; margin-bottom: 20px; }
.topic-photo-upload h2 { margin-bottom: 15px; }
.topic-photo-upload ul { overflow: hidden; zoom: 1; }
.topic-photo-upload ul li { min-height: 100px; _height: 100px; margin-bottom: 10px; padding-left: 110px; position: relative; }
.topic-photo-upload ul li img { position: absolute; top: 0; left: 0; }
.topic-photo-upload ul li label { color: #aaa; }
.topic-photo-upload ul li textarea { border: 1px solid #ddd; width: 350px; height: 60px; padding: 3px; font-size: 12px; font-family: Arial, sans-serif; color: #333; }
.topic-photo-upload ul li .image-delete { text-decoration: none; margin-right: 15px; }
.topic-photo-upload ul li .image-delete:hover { color: #f00; }
.topic-photo-upload ul li.marked-as-preview .mark-as-preview { display: inline; color: #43c70f; font-weight: bold; }
.topic-photo-upload ul li .mark-as-preview { display: none; text-decoration: none; }
.topic-photo-upload ul li:hover .mark-as-preview { display: inline; }
.topic-photo-upload .topic-photo-upload-rules { color: #888; margin-bottom: 15px; }
.topic-photo-upload .topic-photo-upload-input { margin-bottom: 20px; }
.topic-photo-upload .topic-photo-upload-input input { margin-top: 3px; }

/* Topic Talk */
.topic.topic-type-talk { }
.topic.topic-type-talk .topic-header { background: #f7f7f7; padding: 10px 15px 15px; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #eee; }
.topic.topic-type-talk .topic-header .topic-title { margin-bottom: 13px; font-size: 20px; }
.topic.topic-type-talk .topic-header .topic-info { margin-bottom: 0; position: relative; min-height: 30px; padding-left: 40px; line-height: 14px; }
.topic.topic-type-talk .topic-header .topic-info .avatar { position: absolute; top: 0; left: 0; }
.topic.topic-type-talk .topic-header .topic-info .author-wrapper { margin-bottom: 4px; position: relative; top: -2px; }
.topic.topic-type-talk .topic-header .topic-info .author-wrapper .author { font-family: "Open Sans Bold"; margin-right: 15px; }
.topic.topic-type-talk .topic-header .topic-info .recipient { margin-right: 10px; }
.topic.topic-type-talk .topic-content { font-size: 13px; padding: 15px; background: #fafafa; margin-bottom: 1px; border-top: 1px solid #fff; }
.topic.topic-type-talk .topic-footer .topic-info { border-radius: 0; padding: 5px 10px; background: #fafafa; }
.topic.topic-type-talk .topic-footer .topic-info ul {margin-bottom: 0;}

.topic.topic-type-talk .talk-recipients 	{ padding: 15px; background: #fafafa; display: none; border-top: 1px solid #fff; border-bottom: 1px solid #eee; }
.topic.topic-type-talk .talk-recipients h3 	{ font-size: 16px; font-family: "Open Sans Bold"; margin-bottom: 10px; }

/* Topic Preview */
.topic-preview { margin-top: 30px; }
.topic-preview .profile-page-header { border-top: 1px solid #ddd; }
.topic-preview .topic { margin-bottom: 20px; }

/* Пагинация 
---------------------------------------------------- */
.pagination {clear: both;}
.pagination ul 					{ overflow: hidden; zoom: 1; line-height: 1em; }
.pagination ul li 				{ float: left; margin-right: 5px; }
.pagination ul li span,
.pagination ul li a 			{ float: left; padding: 7px 10px; color: #8f8f8f; text-shadow: 0 1px #ffffff; }
.pagination ul li a:hover 		{ text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}
.pagination ul li.active span 	{ color: #fff; background: #474747; text-shadow: none; }
.pagination ul li i 			{ opacity: .5; filter: alpha(opacity=50);}


/* Блог
================================================== */
.blog .topic.theme3 header .share.del {left: 110px;}

/* Сайдбар
================================================== */

.sidebar {}

/* Блок с аватаром, контент на темной подложке */
.sidebar .block.theme1 {color: #ffffff; position: relative;}
.sidebar .block.theme1 h1,
.sidebar .block.theme1 h2,
.sidebar .block.theme1 h3,
.sidebar .block.theme1 h4,
.sidebar .block.theme1 h5,
.sidebar .block.theme1 h6 {color: #ffffff; font-size: 24px; line-height: 30px; margin-bottom: 20px;}
.sidebar .block.theme1 a:hover.title {text-decoration: none;}
.sidebar .block.theme1 header {height: 380px;}
.sidebar .block.theme1 .txt {background-color: #373737; padding: 25px;}
.sidebar .block.theme1 .go,
.sidebar .block.theme1 .go-hover {display:block; text-indent:-9999px; width: 79px; height: 79px; position: absolute; top: 0; right: 0;}
.sidebar .block.theme1 .go {background: url(../images/go_topic.png) no-repeat;}
.sidebar .block.theme1 .go-hover {background: url(../images/go_topic_hover.png) no-repeat; opacity: 0; filter: alpha(opacity=0);
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;}
.sidebar .block.theme1:hover .go-hover {opacity: 1; filter: alpha(opacity=100);}

/* Блок прямой эфир */
.sidebar .block.theme2 {color: #8f8f8f; text-shadow: 0 1px #ffffff;}
.sidebar .block.theme2 h1,
.sidebar .block.theme2 h2,
.sidebar .block.theme2 h3,
.sidebar .block.theme2 h4,
.sidebar .block.theme2 h5,
.sidebar .block.theme2 h6 {color: #474747; font-size: 24px; line-height: 30px; margin-bottom: 20px;}
.sidebar .block.theme2 a:hover.title {text-decoration: none; opacity: 0.65; filter: alpha(opacity=65);}
.sidebar .block.theme2 p {margin-bottom: 10px;}
.sidebar .block.theme2 .panel time {font-style: italic;}
.sidebar .block.theme2 .panel i {margin-right: 15px; font-size: 20px; position: relative; top: 3px;}
.sidebar .block.theme2 .panel a {display: block; color: #8f8f8f;}
.sidebar .block.theme2 .panel a:hover {text-decoration: none;}
.sidebar .block.theme2 li:hover a i {color: #f26c4f;}
.sidebar .block.theme2 li:first-child {border-top: none;}
.sidebar .block.theme2 li:last-child {border-bottom: none;}
.sidebar .block.theme2 li {border-bottom: 1px solid #d9d9d9; border-top: 1px solid #ffffff; margin: 0; padding: 20px 16px;}

/* Блок блоги */
.sidebar .block.theme3 li {margin-bottom: 6px; border-bottom: 1px solid #dedede;}
.sidebar .block.theme3 li a {display: block; color: #474747; background-color: #ffffff; border-left: 3px solid #cacaca; font-size: 15px; padding: 16px 23px;}
.sidebar .block.theme3 li a:hover,
.sidebar .block.theme3 li a.active {text-decoration: none; border-left: 3px solid #f26c4f;}
.sidebar .block.theme3 li a span {color: #a7a7a7; margin-left: 10px; font-size: 13px; font-weight: normal; float: right;}

/* Подвал
================================================== */
footer .logo .img-logo {height: 70px;}
footer .logo .img-logo i {top: 22px;}
footer .logo .triangle-down {top: 22px;}
footer .logo .text {padding: 23px 0 20px 100px;}

footer nav.menu ul,
footer nav.menu li {margin-bottom: 0;}

footer .links ul.pages-list,
footer .links ul.pages-list a {color: #ffffff;}
footer .links ul.pages-list {margin-top: 50px;}
footer .links ul.pages-list li {float: left; margin: 0 20px 0 0;}
footer .links p {padding-bottom: 10px; color: #7e7e7e;}
footer .links ul {padding-bottom: 20px; margin: 0; color: #7e7e7e;}
footer .links ul a {color: #7e7e7e;}

/* Кнопки
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	  background: #474747;
	  color: #ffffff;
	  display: inline-block;
	  font-size: 16px;
	  text-decoration: none;
	  cursor: pointer;	  
	  line-height: normal;
	  padding: 8px 10px;
	  border: none;
	  }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
	  background: #f26c4f;
	  }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		background: #f26c4f; /* Старые браузеры */
		}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Фикс уберает border и padding у Mozilla */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}

	.input-submit {background-color: #ffffff; color: #f26c4f; border-left: none;}

/* Формы
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		width: 95%;
		padding: 10px;
		outline: none;
		color: #959595;
		margin: 0;
		display: block;
		background: #fff;
		border: 1px solid #e1e1e1;
		box-shadow: 0 1px 2px -1px #ccc; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; width: 99%; }
	label,
	legend {
		display: block;
		font-family: 'Open Sans Bold';
		font-size: 13px;  }
	select {
		width:100%; padding: 10px; }
	input[type="checkbox"] {
		position: relative;
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* Группировка, иконка справа для инпута 
<div class="input-icon">
	<input type="text" value="text">
	<div class="icon theme1"><i class="fa fa-tags"></i></div>
</div>
*/
	.input-icon {height: 54px; clear: both;}
	.input-icon input {
		float: left; 
		border-right: none;
		width: 260px;
		padding: 18px;
	}
	.input-icon input[type="submit"] {
		background: transparent; 
		color: #f26c4f; 
		border: none;
		border-left: none;
		font-size: 23px;
		display: block;
		width: 46px;
		height: 50px;
		position: relative;
		top: -38px
	}
	.input-icon .search:hover {opacity: 0.65; filter: alpha(opacity=65);}
	.input-icon .search:before {
		content: "\f002";
		font: normal normal normal 23px/1 "FontAwesome";
		position: relative;
		left: 12px;
	}
	.input-icon label {float: left; font-size: 23px; font-weight: normal;}

	.input-icon .icon {border: 1px solid #e1e1e1; border-left: none; font-size: 23px; box-shadow: 0 1px 2px -1px #ccc; display: block; width: 46px; height: 51px; float: left;}
	.input-icon .icon i {position: relative; top: 12px; left: 10px;}
	.input-icon .icon.theme1 {background-color: #ffffff; color: #f26c4f;}
	.input-icon .icon.theme2 {background-color: #8f8f8f; color: #ffffff;}

/* Разное
================================================== */
	.rm-bottom { margin-bottom: 0 !important; }
	.x-bottom { margin-bottom: 10px !important; } /*Сменить x и 10 на любое число для принудительного отступа */
	.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
	.hidden { display: none; visibility: hidden; }
	.visible-phone { display: none !important; }
	.visible-tablet { display: none !important; }
	.hidden-desktop { display: none !important; }
	.visible-desktop { display: inherit !important; }

	.green {color: green !important;}
	.red {color: red !important;}
	.gray {color: gray !important;}

/* Из Ls
================================================== */
.markItUpHeader ul,
.markItUpHeader ul li {margin-bottom: 0;}


.nav 					{ overflow: hidden; zoom: 1; }
.nav li 				{ float: left; }

.nav li:last-child 		{ border-right: none; }
.nav li a 				{ display: block; padding: 10px 15px; }
.nav li a:hover 		{ background: #f3f3f3; }
.nav li.active a 		{ background: #f3f3f3; }


/* Nav Pills */
.nav.nav-pills 				{ margin-bottom: 15px; }
.nav.nav-pills li 			{ margin-right: 3px;}
.nav.nav-pills li a 		{ padding: 5px 12px; background: #f5f5f5; color: #949494; }
.nav.nav-pills li a:hover 	{ background: #f26c4f; text-decoration: none; color: #ffffff; }
.nav.nav-pills li.active a 	{ background: #474747; color: #fff; }

/* Dropdown */
.nav.nav-pills li.dropdown 			{ position: relative; margin-bottom: 0; }
.nav.nav-pills li.dropdown a 		{ padding-right: 25px; }
.nav.nav-pills li.dropdown i 		{ position: absolute; top: 13px; right: 9px; height: 0; width: 0; border: 4px solid transparent; border-top-color: #fff; cursor: pointer; }
.nav.nav-pills li.dropdown ul 		{ display: none; position: absolute; }
.nav.nav-pills li.dropdown.opened a { -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset; box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset;  }

.dropdown-menu 						{ position: absolute; top: 32px; overflow: hidden; background: #fff; border: 1px solid #ccc; min-width: 150px; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); box-shadow: 0 0 5px rgba(0,0,0,.2); border-radius: 3px; }
.dropdown-menu li 					{ font-size: 14px; line-height: 1em; margin-bottom: 0; }
.dropdown-menu li a 				{ display: block; padding: 10px 15px; }
.dropdown-menu li a:hover 			{ background: #fafafa; }
.dropdown-menu li.active a 			{ color: #aaa; }
.dropdown-menu li.active a:hover 	{ cursor: default; }

.dropdown-create 		{ position: relative; margin-right: 120px; }
.dropdown-create a 		{ font-weight: normal; }
.dropdown-create h2 a 	{ text-transform: lowercase; }

/* Toolbar 
---------------------------------------------------- */
.toolbar 					{ float: right; position: fixed; top: 220px; right: 10px; z-index: 100; }
.toolbar section 			{ width: 34px; line-height: 14px; margin-bottom: 10px; }
.toolbar section a			{ display: block; padding: 10px; text-decoration: none; color: #444; font-size: 17px; }
.toolbar section a:hover	{ opacity: 0.65; filter: alpha(opacity=65); }
.toolbar section i			{ display: block; }

.toolbar section i.fa-angle-left,
.toolbar section i.fa-angle-right {position: relative; left: 3px;}

/* Admin button */
.toolbar .toolbar-admin a { display: block; }

/* Update comments button */
.toolbar .toolbar-update {  }
.toolbar .toolbar-update .update-comments 			{ padding: 9px; }
.toolbar .toolbar-update .update-comments i 		{ display: block; width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; }
.toolbar .toolbar-update .update-comments.active i 	{ background-position: -16px 0; }
.toolbar .toolbar-update .new-comments 				{ border-top: 1px solid #eee; padding: 10px 0; color: #333; text-align: center; font-size: 11px; }

/* Topic navigation */
.toolbar .toolbar-topic a.toolbar-topic-prev {}

/* Scroll up */
.toolbar .toolbar-scrollup { display: none; }


/* Stat
---------------------------------------------------- */
.stat-performance { padding: 15px 20px; background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.stat-performance table { }
.stat-performance table td { width: 200px; vertical-align: top; }
.stat-performance h4 { font-weight: bold; }



/* Userfeed
---------------------------------------------------- */
.userfeed-get-more {display:block; width:90%; margin:0px auto; text-align:center; height:2.5em; padding-top:1em;}
.userfeed-get-more:hover { background: #f0f7fd;}
.userfeed_loading {background: #F7F7F7 url(../images/loader.gif) no-repeat center;}



/* Stream
---------------------------------------------------- */
.stream-get-more { display: block; text-align: center; padding: 12px 0; background: #fafafa; color: #aaa; border-top: 1px solid #eee; text-decoration: none; }
.stream-get-more:hover { background: #f0f7fd; }
.stream_loading { background: #f7f7f7 url(../images/loader.gif) no-repeat center; }
.stream-comment-preview { padding: 5px 10px; background: #f3f3f3; margin-top: 5px; }

.stream-list { margin: 0 0 20px; }
.stream-list li.stream-item { margin-bottom: 5px; min-height: 48px; _height: 48px; background: #fafafa; padding: 10px 15px 10px 70px; position: relative; }
.stream-list li.stream-item .avatar { position: absolute; top: 10px; left: 10px; }
.stream-list li.stream-item .date { display: block; color: #999; }
.stream-list li.stream-item a { text-decoration: none; }
.stream-list li.stream-item a:hover { text-decoration: underline; }
.stream-list li.stream-header-date { font-size: 12px; color: #777; margin-top: 30px; padding-bottom: 5px; border-bottom: 1px solid #eee; }



/* Userfields
---------------------------------------------------- */
.userfield-list { width: 450px; }
.userfield-list li { background: #eee; margin-bottom: 1px; padding: 10px 10px; overflow: hidden; zoom: 1; line-height: 12px; color: #777; }
.userfield-list li .userfield-actions { float: right; }
.userfield-list li .userfield_admin_name { font-weight: bold; color: #333; }

.userfield-add { text-decoration: none; border-bottom: 1px dashed #70AAE0; }
.userfield-add:hover { color: #333; border-color: #333; }



/* Misc
---------------------------------------------------- */
.avatar-edit { margin-bottom: 15px; }
.avatar-edit img { vertical-align: bottom; }
.avatar-edit label { margin-top: 10px; }

.drafts { float: right; margin-top: 10px; }

.poll-create 					{ padding: 15px 20px; margin-bottom: 20px; background: #f7f7f7; }

.question-list 					{ margin-bottom: 15px; }
.question-list li 				{ margin-bottom: 5px; }
.question-list li .input-text	{ margin-right: 10px; }


.help { 
	display: none;
	position: relative; 
	padding: 10px 7px 13px;
	background: #fafafa; 
	color: #363636; 
	margin-top: 13px; 
	font-size: 11px; 
	line-height: 16px;
	border-radius: 3px; 
	-webkit-box-shadow: 0 0 5px #eaeaea inset; box-shadow: 0 0 5px #eaeaea inset; 
}
.help:before 	{ display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #eee transparent; border-style: solid; }
.help h3 { font-size: 15px; font-weight: bold; margin-bottom: 10px; }
.help .help-col { float: left; width: 250px; padding: 0 10px; }
.help .help-col.help-wide { float: none; width: 96%; }
.help .help-item { margin-bottom: 20px; }
.help .help-item:last-child { margin-bottom: 0; }
.help .help-item h4 { font-family: monospace; font-weight: bold; margin-bottom: 3px; }
.help .help-item h4 a { border-bottom: 1px dotted #727a90; }

.search-abc 					{ overflow: hidden; zoom: 1; padding: 10px 15px; background: #fafafa; margin-bottom: 20px; border-bottom: 1px solid #dedede; }
.search-abc li 					{ float: left; margin-right: 10px; margin-bottom: 0; }
.search-abc li.active a 		{ color: #949494; border: none; }


/* Block Type - Stream */
.block .block-update 		{ position: absolute; top: 13px; right: 15px; width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; cursor: pointer; }
.block .block-update.active 	{ background-position: -16px 0; }


/* Block Type - Activity Settings */
.block.block-type-activity p 		{ margin-bottom: 15px; }
.block.block-type-activity ul li 	{ margin-bottom: 5px; }
.block.block-type-activity .note 	{ display: block; margin-bottom: 15px; color: #aaa; }


/* Block Type - Profile */
.block.block-type-profile 							{ background: none; border: none; padding: 0; padding-bottom: 20px; }
.block.block-type-profile .profile-photo-wrapper 	{ position: relative; min-height: 50px; width: 250px; margin: 0 auto;}
.block.block-type-profile .profile-photo 			{ vertical-align: top; }
.block.block-type-profile .status 					{ position: absolute; top: 5px; left: 5px; padding: 0 5px; border-radius: 2px; font-size: 11px; }
.block.block-type-profile .status.status-online 	{ background: #f26c4f; color: #fff; }
.block.block-type-profile .status.status-offline 	{ background: #333; color: #fff; opacity: .5; filter: alpha(opacity=50); }
.block.block-type-profile .upload-photo 			{ padding: 7px 10px 10px; background: #f7f7f7; }

.block.block-type-profile-note	 			{ background: #F1F7AF; border: 1px solid #E1EA83; padding: 15px; margin-bottom: 7px; }
.block.block-type-profile-note p 			{ margin-bottom: 10px; }
.block.block-type-profile-note .actions 	{ margin-bottom: 0; padding: 0;}
.block.block-type-profile-note .actions li  {float: left; margin-right: 10px;}
.block.block-type-profile-note .actions a   {color: #474747;}

.block.block-type-profile-nav 				{ padding: 0; background: none; }

.block.block-type-profile-actions .block-content 		{ padding: 10px 15px; }
.block.block-type-profile-actions ul li					{ margin-bottom: 5px; }
.block.block-type-profile-actions ul li:last-child		{ margin-bottom: 0; }
.block.block-type-profile-actions ul li a.followed		{ color: #f00; }


/* Block Type - Foldable */
.block.block-type-foldable { background: none; }
.block.block-type-foldable .block-header { background: none; border: none; padding: 0 0 10px; }
.block.block-type-foldable .block-content { display: none; background: #fafafa; }

.block.block-type-talk-search { margin-bottom: 10px; }
.block.block-type-talk-friends { margin-bottom: 10px; }

.jqmOverlay {display: none;}

