/* --------------------------------------------
	КОММЕНТАРИИ
-------------------------------------------- */

/* Блок с комментариями */
.comments-header { margin-bottom: 20px; }
.comments-header h3 { font-size: 22px; margin-bottom: 5px; }
.comments-header .padding {top: 3px !important;}

.comments { margin-bottom: 30px; }

.comment-wrapper { position: relative; }
.comment-wrapper .comment-wrapper { padding-left: 25px; }

.comment-preview { padding: 5px 10px 6px; margin-bottom: 10px; background: #fafafa; border: 1px solid #eee; border-radius: 3px; }
.comment-preview { font-size: 13px; line-height: 18px; }


/* Стили для списка комментариев на странице http://ваш_сайт/comments/ */
.comments.comment-list {clear: both;}
.comments.comment-list .comment-info { margin-bottom: 0 !important; }
.comments.comment-list .comment-info li.reply.comment-delete {right: 0px;}


/* Комментарий */
.comment { min-height: 48px; margin-bottom: 10px; padding: 0 0 10px 50px; position: relative; }
.comment .deleted { padding: 5px 10px; color: #777; background: #f4f4f4; }
.comment .comment-avatar { position: absolute; top: 10px; left: 10px; }

/* Типы комментариев
 *
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 *
 */
.comment 							{ }

.ls-user-role-not-admin .comment.comment-deleted 	{ padding: 10px 15px; min-height: 0; background: #f7f7f7; color: #888; }


/* Info Block */
.comment .comment-info { padding: 25px 70px 7px 25px; margin-bottom: 0; line-height: 12px; position: relative; top: -2px; overflow: hidden; zoom: 1; }
.comment .comment-info li { float: left; height: 18px; margin: 0 0 0 15px; }
.comment .comment-info li a { text-decoration: none; color: #7f8c8c; }
.comment .comment-info li.comment-author a { font-family: "Open Sans Bold" }
.comment .comment-info li.comment-date a { color: #999; border-color: #999; font-size: 13px;}
.comment .comment-info li.goto-comment-child { display: none; font-size: 10px; }
.comment .comment-info li.goto-comment-parent {font-size: 10px;}
.comment .comment-info li.reply a {color: #f26c4f; font-size: 13px;}
.comment .comment-info li.reply a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.comment .comment-info li.reply.comment { position: absolute; right: 60px; }
.comment .comment-info li.reply.comment-delete { position: absolute; right: 150px; }
.comment .comment-info li.reply.comment-repair {position: absolute; right: 50px; }
.comment .comment-info li.reply.comment-favourite {position: absolute; right: 240px;}
.comment .comment-info li.vote { position: absolute; right: 0; }

/* Content */
.comment .comment-content { padding: 10px 20px 20px 40px; border-bottom: 3px solid #e5e6e6; background-color: #f8f8f8;}
.comment .comment-content.comment-deleted 			{ background: #efd5d5; border-bottom: 3px solid #F3C0C0; }
.comment .comment-content.comment-self				{ background: #E8F5F2; border-bottom: 3px solid #BBEBDE; }
.comment .comment-content.comment-new 				{ background: #fbfba8; border-bottom: 3px solid #e5e6e6; }
.comment .comment-content.comment-current 			{ background: #a5e7fa; border-bottom: 3px solid #a5e7fa; }
.comment .comment-content.comment-bad 				{ opacity: 0.3; filter: alpha(opacity=30); }
.comment .comment-content.comment-bad:hover 			{ opacity: 1; filter: alpha(opacity=100); }

.comment .comment-content.text { font-size: 13px; }
.comment .comment-content.text blockquote { background: #fff; border-color: #ccc; padding: 5px 10px; margin-bottom: 5px; }

/* Форма комментирования */
.reply-header { font-size: 20px; line-height: 1.3em; margin-bottom: 15px; }

.reply { padding-bottom: 10px; }
.reply textarea { height: 100px; }
.reply textarea.loader { background: #f7f7f7 url(../images/loader.gif) no-repeat center; }

.reply .mceEditor { display: block; margin-bottom: 10px; }

/* Голосование 
---------------------------------------------------- */
.comment .vote .vote-count 							{ display: inline-block; font-weight: bold; color: #aaa; font-size: 14px; padding: 0 3px; }
.comment .vote .vote-count a 						{ text-decoration: none; color: #999; outline: none; }

.comment .vote.vote-count-positive .vote-count 		{ color: #390; }
.comment .vote.vote-count-negative .vote-count 		{ color: #f00; }

.comment .vote .vote-up,
.comment .vote .vote-down 							{ font-size: 16px; display: inline-block; cursor: pointer; vertical-align: text-top; opacity: .3; filter: alpha(opacity=30); }
.comment .vote .vote-up 								{ color: green; }
.comment .vote .vote-down 							{ color: red; }
.comment .vote .vote-up:hover 						{ opacity: .8; filter: alpha(opacity=80); }
.comment .vote .vote-down:hover 						{ opacity: .8; filter: alpha(opacity=80); }

.comment .vote.voted.voted-up 	.vote-up 			{ opacity: 1; filter: alpha(opacity=100); }
.comment .vote.voted.voted-down 	.vote-down 			{ opacity: 1; filter: alpha(opacity=100); }
.comment .vote.voted.voted-up 	.vote-down:hover 	{ opacity: .3; filter: alpha(opacity=30); }
.comment .vote.voted.voted-down 	.vote-up:hover 		{ opacity: .3; filter: alpha(opacity=30); }