/* Ресет
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* Главное
================================================== */
	body {
		-webkit-font-smoothing: antialiased; /* Утончение текста для Safari под Мак, фикс для webkit  */
		-webkit-text-size-adjust: 100%; /* Размер текста для Safari под Мак на мобильном устройсте, фикс для webkit  */
 }

.align_left { float:left; }
.align_right { float:right; }
.text_align_left { text-align: left; }
.text_align_center { text-align: center; }
.text_align_right { text-align: right; }

/* ==================================================
   Margin и Bottom
================================================== */

.margin-0                                       { margin-bottom:0 !important; }
.margin-10                                      { margin-bottom:10px !important; }
.margin-15                                      { margin-bottom:15px !important; }
.margin-20                                      { margin-bottom:20px !important; }
.margin-30                                      { margin-bottom:30px !important; }
.margin-40                                      { margin-bottom:40px !important; }
.margin-50                                      { margin-bottom:50px !important; }
.margin-60                                      { margin-bottom:60px !important; }
.margin-70                                      { margin-bottom:70px !important; }
.margin-80                                      { margin-bottom:80px !important; }

/* Врапперы */
.wrapper                                        {max-width: 100%; min-width: 960px;}
.wrapper.theme1                                 {background-color: #373737;}

/* Сетка 1200px на 12 колонок
================================================== */
    
    .container                                 { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
    .container.slyle-1                         {width: 1210px}
    .container .width-1,
    .container .width-2,
    .container .width-3,
    .container .width-4,
    .container .width-5,
    .container .width-6,
    .container .width-7,
    .container .width-8,
    .container .width-9,
    .container .width-10,
    .container .width-11,
    .container .width-12,
    .container .one-third,
    .container .two-thirds                     { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                       { margin-bottom: 20px; }


    /* Сетка */
    .container .width-1                        { width: 60px;  }
    .container .width-2                        { width: 160px; }
    .container .width-3                        { width: 260px; }
    .container .width-4                        { width: 360px; }
    .container .width-5                        { width: 460px; }
    .container .width-6                        { width: 560px; }
    .container .width-7                        { width: 660px; }
    .container .width-8                        { width: 760px; }
    .container .width-9                        { width: 860px; }
    .container .width-10                       { width: 960px; }
    .container .width-11                       { width: 1060px; }
    .container .width-12                       { width: 1180px; }
    .container .one-third                      { width: 385px; margin-left: 5px; }
    .container .two-thirds                     { width: 780px; }

    /* Инпуты */
    .input-width-1                        { width: 60px;  }
    .input-width-2                        { width: 160px; }
    .input-width-3                        { width: 260px; }
    .input-width-4                        { width: 360px; }
    .input-width-5                        { width: 380px; }
    .input-width-6                        { width: 460px; }
    .input-width-7                        { width: 560px; }
    .input-width-8                        { width: 660px; }
    .input-width-9                        { width: 760px; }
    .input-width-10                       { width: 860px; }
    .input-width-11                       { width: 960px; }
    .input-width-12                       { width: 1060px; }
    .input-one-third                      { width: 380px; }
    .input-two-thirds                     { width: 780px; }
    .input-full-width                     { width: 689px !important; }


@media only screen and (max-width: 1200px) {
    
    .container                                 {width: 960px;}
     
    .container .width-1                        { width: 60px;  }
    .container .width-2                        { width: 140px; }
    .container .width-3                        { width: 220px; }
    .container .width-4                        { width: 300px; }
    .container .width-5                        { width: 380px; }
    .container .width-6                        { width: 460px; }
    .container .width-7                        { width: 540px; }
    .container .width-8                        { width: 620px; }
    .container .width-9                        { width: 700px; }
    .container .width-10                       { width: 780px; }
    .container .width-11                       { width: 860px; }
    .container .width-12                       { width: 940px; }
    .container .one-third                      { width: 300px; }
    .container .two-thirds                     { width: 620px; }

    /* Инпуты */
    .input-width-1                        { width: 60px;  }
    .input-width-2                        { width: 140px; }
    .input-width-3                        { width: 220px; }
    .input-width-4                        { width: 300px; }
    .input-width-5                        { width: 380px; }
    .input-width-6                        { width: 460px; }
    .input-width-7                        { width: 540px; }
    .input-width-8                        { width: 620px; }
    .input-width-9                        { width: 700px; }
    .input-width-10                       { width: 780px; }
    .input-width-11                       { width: 860px; }
    .input-width-12                       { width: 940px; }
    .input-full-width                     { width: 530px !important; }

}

/* Планшеты (Портретое - вертикальное) для дисплеев от 959px до 768px
================================================== */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                             { width: 768px; margin-left: 10px; margin-right: 10px; }

        .container .width-1,                   
        .container .width-2,                  
        .container .width-3,                 
        .container .width-4,                    
        .container .width-5,                   
        .container .width-6,                   
        .container .width-7,                    
        .container .width-8,                   
        .container .width-9,                   
        .container .width-10,                  
        .container .width-11,                  
        .container .width-12,                  
        .container .one-third,                 
        .container .two-thirds                 { width: 748px; }

        .input-full-width                      { width: 660px !important; }

    }


/*  Смартфоны (Портретое - вертикальное) для дисплеев 767px
================================================== */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; margin: 0; }
        
        .container .width-1,
        .container .width-2,
        .container .width-3,
        .container .width-4,
        .container .width-5,
        .container .width-6,
        .container .width-7,
        .container .width-8,
        .container .width-9,
        .container .width-10,
        .container .width-11,
        .container .width-12,
        .container .one-third,
        .container .two-thirds  { width: 300px; }

        .input-full-width       { width: 210px !important; }
    }


/* Смартфоны (Альбомное - горизонтальное) для дисплеев от 767px до 480px
================================================== */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; margin: 0; }
        
        .container .width-1,
        .container .width-2,
        .container .width-3,
        .container .width-4,
        .container .width-5,
        .container .width-6,
        .container .width-7,
        .container .width-8,
        .container .width-9,
        .container .width-10,
        .container .width-11,
        .container .width-12,
        .container .one-third,
        .container .two-thirds { width: 420px; }

        .input-full-width       { width: 330px !important; }
    }

/* Очистка
================================================== */

    /* Автоклин для container  */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Класс clearfix для очистки float, или <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
    .row:after,
    .clearfix:after { clear: both; }
    .row,
    .clearfix { zoom: 1; }

    /* Можно использовать <br class="clear" /> чтобы очистить float */
    .clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }