/* ===============================================
                Адаптивность
================================================== */

    @media only screen and (min-width: 1200px) {
       .slider-2 .caroufredsel_wrapper {height: 405px !important;}


    }
    
    /* Для дисплеев 959px */
    @media only screen and (max-width: 1200px) {

    /* Слайдер */
    .theme-new .nivo-caption {left: 660px!important;}
    .theme-new .nivo-directionNav {position: absolute; top: 400px!important;}
    .theme-new .nivo-controlNav.nivo-thumbs-enabled img {  width: 150px !important;}
    .theme-new .nivo-controlNav {height: 90px !important;}

    .container.slyle-1 {width: 945px;}
    .slider-2.width-12 {width: 100%; margin-left: -5px;}
    .slider-2 .caroufredsel_wrapper {height: 375px !important;}

    /* Костыль, отступ из-за слайдера для блока с контентом на главной */
    .content-margin {margin-top: 380px;}

    /* Тема 1 топик */
    .topic.theme1 .text .topic-avatar {width: 616px;}

    /* Тема 2 топик */
    .topic.theme2 header {width: 565px;}

    .topic.theme4 {width: 300px;}

    /* Тема 5 топик */
    .topic.theme5 {width: 620px;}

    /* Блок с аватаром, контент на темной подложке */
    .sidebar .block.theme1 header {height: 300px;}

    }
    
    /* Для дисплеев 959px - 768px */
    @media only screen and (min-width: 768px) and (max-width: 959px) {

        .slider-wrapper,
        .container.slyle-1 {display: none;}

        .content-margin {margin-top: 0;}

        /* ===== sidebar ===== */

        /* banner */
        .sidebar .block.theme1 img {display: none;}
        .sidebar .block.theme1 header {height: 0;}

        /* Мобильное меню */
        nav.menu .m-menu {display: block;}
        .m-menu-link .icon,
        nav.menu ul {display: none;}
        .m-menu-link a {color: #fff; text-decoration: none; display: block; padding: 15px 10px;}
        .m-menu-link a:hover,
        .m-menu-link a:focus,
        .m-menu-link a.active {background: #f26c4f;}
        .m-menu-link li {margin-bottom: 0;}
        footer.theme1 nav.menu li.start {padding-right: 0;}


        /* topics */
        .topic.theme1 .text .topic-avatar {width: 744px;}
        .topic.theme2 header {width: 692px;}
        .topic.theme5 {width: 750px;}
        .topic.theme4 {width: 364px;}
    }
    
    /* Для дисплеев 767px */
    @media only screen and (max-width: 767px) {}

    /* Для дисплеев 480px -  767px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {

        .slider-wrapper,
        .container.slyle-1,
        .bt-dropdown-3 {display: none;}

        .content-margin {margin-top: 0;}

        /* ===== sidebar ===== */

        /* banner */
        .sidebar .block.theme1 img {display: none;}
        .sidebar .block.theme1 header {height: 0;}

        /* Мобильное меню */
        nav.menu .m-menu {display: block;}
        .m-menu-link .icon,
        nav.menu ul {display: none;}
        .m-menu-link a {color: #fff; text-decoration: none; display: block; padding: 15px 10px;}
        .m-menu-link a:hover,
        .m-menu-link a:focus,
        .m-menu-link a.active {background: #f26c4f;}
        .m-menu-link li {margin-bottom: 0;}
        footer.theme1 nav.menu li.start {padding-right: 0;}

        .input-icon input {width: 335px;}

        /* topics */
        .topic.theme1 .text .topic-avatar {width: 417px;}
        .topic.theme2 header {width: 365px;}
        .topic.theme5 {width: 420px;}
        .topic.theme4 {width: 384px;}

        .modal {width: 420px !important; margin-left: -280px !important;}

        /* Комментарии */
        .comment-wrapper .comment-wrapper {padding-left: 0 !important;}
        .comment-date, 
        .comment-author {display: none;}

        .visible-phone { display: block !important; }
        .visible-desktop { display: none !important; }

        /* Профиль */
        .profile .vote {  right: 0 !important; }
        .profile .strength {display: none;}

        /* toolbar */
        .toolbar {top: initial; bottom: 0; width: 100%; height: 35px; background-color: #474747;}
        .toolbar section {float: left; text-align: center;}
        .toolbar i {color: #fff;}
        .toolbar .toolbar-topic  {width: 100px;}
        .toolbar .toolbar-admin,
        .toolbar .toolbar-scrollup {width: 50px; float: right;}
        .toolbar .toolbar-topic a.toolbar-topic-prev {width: 30px; float: left;}
    }

    /* Для дисплеев 479px */
    @media only screen and (max-width: 479px) {

       .slider-wrapper,
        .container.slyle-1,
        .bt-dropdown-3,
        .bt-dropdown,
        .logo .text {display: none;}

        .bt-dropdown-2 {right: -40px;}

        .input-icon input {width: 215px;}
        .search .social li {margin: 0 15px 0 0;}

        .content-margin {margin-top: 0;}

        /* ===== sidebar ===== */

        /* banner */
        .sidebar .block.theme1 img {display: none;}
        .sidebar .block.theme1 header {height: 0;}

        /* Мобильное меню */
        nav.menu .m-menu {display: block;}
        .m-menu-link .icon,
        nav.menu ul {display: none;}
        .m-menu-link a {color: #fff; text-decoration: none; display: block; padding: 15px 10px;}
        .m-menu-link a:hover,
        .m-menu-link a:focus,
        .m-menu-link a.active {background: #f26c4f;}
        .m-menu-link li {margin-bottom: 0;}
        footer.theme1 nav.menu li.start {padding-right: 0;}

        /* Комментарии */
        .comment-wrapper .comment-wrapper {padding-left: 0 !important;}
        .comment-date, 
        .comment-author {display: none;}

        /* topics */
        .topic.theme1 .text .topic-avatar {width: 296px;}
        .topic.theme2 header {width: 245px;}
        .topic.theme5 {width: 300px;}
        .topic.theme4 {width: 300px;}

        .modal {width: 300px !important; margin-left: -200px !important;}

        .visible-phone { display: block !important; }
        .visible-desktop { display: none !important; }

        /* Профиль */
        .profile .vote {  right: 70px !important; }
        .profile .vote .vote-up {  top: 59px !important; left: 30px !important;}
        .profile .strength {display: none;}

        /* toolbar */
        .toolbar {top: initial; bottom: 0; width: 100%; height: 35px; background-color: #474747;}
        .toolbar section {float: left; text-align: center;}
        .toolbar i {color: #fff;}
        .toolbar .toolbar-topic  {width: 100px;}
        .toolbar .toolbar-admin,
        .toolbar .toolbar-scrollup {width: 50px; float: right;}
        .toolbar .toolbar-topic a.toolbar-topic-prev {width: 30px; float: left;}
        
    }
