/* body */
.tmeme-1 {background: #fbfcfc;}
.tmeme-1 a { color: #3f8ad7; }

/* Header */
.tmeme-1 .wrapper.theme1 {background: #090909;}
.tmeme-1 .logo .img-logo {background: #66cfff;}
.tmeme-1 .logo a {color: #ffffff;}
.tmeme-1 .logo .triangle-down {border-left: 12px solid #66cfff;}

.tmeme-1 .bt-dropdown-4 .icon,
.tmeme-1 .bt-dropdown-3 .icon,
.tmeme-1 .dropdown-4 ul li.active i,
.tmeme-1 .dropdown-3 ul li.active i,
.tmeme-1 .bt-dropdown-2 .ar {color: #66cfff;}
.tmeme-1 .bt-dropdown-2,
.tmeme-1 .bt-dropdown {text-shadow: none;}

.tmeme-1 .dropdown-2 ul li a,
.tmeme-1 .dropdown ul li a {color: #ffffff; padding: 15px 6px;}
.tmeme-1 .dropdown-2,
.tmeme-1 .dropdown,
.tmeme-1 .dropdown-2 {background: #373737; border: none; border-top: 1px solid #000;}
.tmeme-1 .dropdown-2 ul li,
.tmeme-1 .dropdown ul li {margin: 0px !important; background: #1d1d1d; box-shadow: 0 0 7px rgba(0, 0, 0, .5); border-bottom: 1px solid #000; border-top: 1px solid #393939;}
.tmeme-1 .dropdown-2 ul li:hover a,
.tmeme-1 .dropdown ul li:hover a,
.tmeme-1 .dropdown ul li.active a,
.tmeme-1 .dropdown-2 ul li.active a {background: #093357;}


.tmeme-1 .main-menu {
	position: relative;
	top: -2px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
	box-shadow: 0 0 10px rgba(0,0,0,.15);
	border-radius: 0 0 10px 10px;
	position: relative;
	background: #fdfdfd;
	background: -moz-linear-gradient(top, #fdfdfd 0%, #f6f8f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f8f9));
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#f6f8f9 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%,#f6f8f9 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%,#f6f8f9 100%);
	background: linear-gradient(top, #fdfdfd 0%,#f6f8f9 100%);
	color: #434343;
}
.tmeme-1 .main-menu a {color: #434343;}
.tmeme-1 .menu {background: #fdfdfd; border-radius: 0 0 10px 10px;}
.tmeme-1 .menu a:hover,
.tmeme-1 .menu a.active {
	border-color: #66cfff;
}
.tmeme-1 .menu li.icon i {color: #66cfff;}

.tmeme-1 .input-icon .search:before,
.tmeme-1 .input-icon input[type="submit"] {color: #66cfff;}

.tmeme-1 .search .social li a {color: #676060;}

/* Слайдер */
.tmeme-1 .theme-new .nivo-caption .triangle-down {border-left: 12px solid #66cfff;}
.tmeme-1 .theme-new-2 .nivo-caption .triangle-down {border-right: 12px solid #66cfff;}
.tmeme-1 .theme-new-3 .nivo-caption .triangle-down {border-top: 12px solid #66cfff;}
.tmeme-1 .nivo-caption:hover .panel i {color: #66cfff !important;}
.tmeme-1 .nivo-caption {border-color: #66cfff !important; background: #090909 !important;}

/* Плюсики */
.tmeme-1 .sidebar .block.theme1 .go-hover,
.tmeme-1 .topic .go-hover,
.tmeme-1 .list_carousel li .go-hover {background: url(go_topic_hover.png) no-repeat !important;;}

/* Топики */
.tmeme-1 .topic.theme3,
.tmeme-1 .topic.theme2 header,
.tmeme-1 .topic.theme2 {background: #F4F4F4;}

.tmeme-1 .slider-2 .list_carousel li .txt,
.tmeme-1 .topic .txt {background: #F4F4F4 !important;}

.tmeme-1 .topic.theme1 {border-left: 4px solid #66cfff;}
.tmeme-1 .topic.theme1:hover {background-color: #66cfff; border-left: 4px solid #66cfff;}

/* Сайдбар */
.tmeme-1 .sidebar .block.theme2 li:hover a i {color: #66cfff;}

.tmeme-1 .sidebar .block.theme3 li a:hover, 
.tmeme-1 .sidebar .block.theme3 li a.active {border-left: 3px solid #66cfff;}

.tmeme-1 .profile .vote.vote-count-positive .vote-count {color: #37A97A;}
.tmeme-1 .block.block-type-profile .status.status-online {background: #37A97A;}
.tmeme-1 .topic.theme1:hover .panel li ul.star a:hover, 
.tmeme-1 .topic.theme1:hover .panel li ul.star a.active {color: #ccc;}
.tmeme-1 .topic.theme1 .panel li ul.star li a.active {color: #66cfff;}

/* Комменты */
.tmeme-1 .comment .comment-info li.reply a {color: #66cfff;}