		<!-- Sidebar -->
        <aside class="sidebar one-third">

        {if $sAction!='profile'}
        	{include file='blocks/block.banner.tpl'}
       	{/if}

        	{include file='blocks.tpl' group='right'}
        </aside>
        <!-- / Sidebar -->

<!-- <aside id="sidebar" {if $sidebarPosition == 'left'}class="sidebar-left"{/if}>
	
</aside> -->