{if $sAction=='index' and {cfg name='view.topic.mainpage_topic'} == '1'}
{else}
  {if $params.iCountTopic}
	<section class="toolbar-topic" id="" style="">
		<a href="#" onclick="return ls.toolbar.topic.goPrev();" title="{$aLang.toolbar_topic_prev}" class="toolbar-topic-prev js-title-comment"><i class="fa fa-angle-left"></i></a>
		<a href="#" onclick="return ls.toolbar.topic.goNext();" title="{$aLang.toolbar_topic_next}" class="toolbar-topic-next js-title-comment"><i class="fa fa-angle-right"></i></a>
	</section>
  {/if}
{/if}

	
