{assign var="oBlog" value=$oTopic->getBlog()}
{assign var="oUser" value=$oTopic->getUser()}
{assign var="oVote" value=$oTopic->getVote()}
{assign var="oFavourite" value=$oTopic->getFavourite()}

{if $bTopicList}

	{include file='topic_theme.tpl'}

{else}

	{include file='topic_part_header.tpl'}


	<script type="text/javascript">
		jQuery(window).load(function($) {
			ls.photoset.showMainPhoto({$oTopic->getId()});
		});
	</script>

	{assign var=oMainPhoto value=$oTopic->getPhotosetMainPhoto()}
	{if $oMainPhoto}
	<div class="topic-photo-preview" id="photoset-main-preview-{$oTopic->getId()}" onclick="window.location='{$oTopic->getUrl()}#photoset'">
		<div class="topic-photo-count" id="photoset-photo-count-{$oTopic->getId()}">{$oTopic->getPhotosetCount()} {$aLang.topic_photoset_photos}</div>
		
		{if $oMainPhoto->getDescription()}
			<div class="topic-photo-desc" id="photoset-photo-desc-{$oTopic->getId()}">{$oMainPhoto->getDescription()}</div>
		{/if}
		
		<img src="{$oMainPhoto->getWebPath()}" alt="image" id="photoset-main-image-{$oTopic->getId()}" class="full-with" />
	</div>
	{/if}


	{assign var=iPhotosCount value=$oTopic->getPhotosetCount()}

		{hook run='topic_content_begin' topic=$oTopic bTopicList=$bTopicList}
		
		{if $bTopicList}
			{$oTopic->getTextShort()}
			{if $oTopic->getTextShort()!=$oTopic->getText()}
				<br />
				<a href="{$oTopic->getUrl()}#cut" title="{$aLang.topic_read_more}">
					{if $oTopic->getCutText()}
						{$oTopic->getCutText()}
					{else}
						{$aLang.topic_photoset_show_all|ls_lang:"COUNT%%`$iPhotosCount`"} &rarr;
					{/if}                           
				</a>
			{/if}
		{else}
			{$oTopic->getText()}
		{/if}
		
		{hook run='topic_content_end' topic=$oTopic bTopicList=$bTopicList}



	{if !$bTopicList}
		<script type="text/javascript" src="{cfg name='path.root.engine_lib'}/external/prettyPhoto/js/prettyPhoto.js"></script>	
		<link rel='stylesheet' type='text/css' href="{cfg name='path.root.engine_lib'}/external/prettyPhoto/css/prettyPhoto.css" />
		<script type="text/javascript">
			jQuery(document).ready(function($) {	
				$('.photoset-image').prettyPhoto({
					social_tools:'',
					show_title: false,
					slideshow:false,
					deeplinking: false
				});
			});
		</script>
		
		
		<div class="topic-photo-images">
			<h3>{$oTopic->getPhotosetCount()} {$oTopic->getPhotosetCount()|declension:$aLang.topic_photoset_count_images}</h3>
			<a name="photoset"></a>
			
			<ul id="topic-photo-images">
				{assign var=aPhotos value=$oTopic->getPhotosetPhotos(0, $oConfig->get('module.topic.photoset.per_page'))}
				{if count($aPhotos)}                                
					{foreach from=$aPhotos item=oPhoto}
						<li><a class="photoset-image" href="{$oPhoto->getWebPath(1000)}" rel="[photoset]"  title="{$oPhoto->getDescription()}"><img src="{$oPhoto->getWebPath('50crop')}" alt="{$oPhoto->getDescription()}" /></a></li>                                    
						{assign var=iLastPhotoId value=$oPhoto->getId()}
					{/foreach}
				{/if}
				<script type="text/javascript">
					ls.photoset.idLast='{$iLastPhotoId}';
				</script>
			</ul>
			
			{if count($aPhotos)<$oTopic->getPhotosetCount()}
				<a href="javascript:ls.photoset.getMore({$oTopic->getId()})" id="topic-photo-more" class="topic-photo-more">{$aLang.topic_photoset_show_more} &darr;</a>
			{/if}
		</div>
	{/if}

	 
	{include file='topic_part_footer.tpl'}

{/if}